/* Dark theme */
body {
  background-color: #121212;
  color: #646464;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #1c1c1c;
  padding: 1rem 2rem;
}

.nav-link {
  color: #b3b3b3 !important;
  font-weight: 500;
  margin-right: 1.5rem;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 2rem; 
  padding-left: 1rem; 
}

/* Sections */
section {
  padding: 6rem 2rem;
}

/* Darker heading color for better visibility */
/* Add text shadow for better visibility */
h1, h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}



p {
  margin-bottom: 1.5rem;
  color: #b3b3b3;
}

/* Navbar */
.navbar {
  background-color: #1c1c1c;
  padding: 1rem 2rem;
}

.navbar-collapse {
  justify-content: flex-end; /* Align navbar items to the end */
}

.nav-link {
  color: #b3b3b3; /* Light grey */
  font-weight: 500;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff; /* White on hover */
}

.navbar-brand {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-right: 2rem; 
}

/* Dropdown */
.navbar .dropdown-menu {
  background-color: #1c1c1c;
  margin-right: 2rem;
  padding-left: 1rem; 
}

.navbar .dropdown-item {
  color: #b3b3b3; /* Light grey */
}

.navbar .dropdown-item:hover {
  background-color: #292929; /* Darker grey for hover */
  color: #ffffff; /* White text on hover */
}

/* Responsive Dropdown Button */
.navbar .navbar-toggler {
  border-color: #b3b3b3; /* Light border color */
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23b3b3b3' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7'/%3E%3C/svg%3E");
}


/* Form controls (Contact page) */
.form-control {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #444;
}

/* Buttons */
.btn-custom {
  background-color: #ffffff;
  color: #e0e0e0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #373737;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  padding: 1.5rem;
  text-align: center;
}
